<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HSE(+2) Results</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='newmarkpgstyle.css') }}">
</head>
<body>
    {{ header_div | safe }}
    <div class="content">{% for group in groups %}
        <div class="grp_container">
            <div id="grp_header" style="font-weight: bold;">{{ group.name }}</div>
            <div class="table-box">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr><th>RANK</th><th>CLASS</th><th>NAME</th><th colspan="2">LANG</th><th>ENG</th><th>{{ group.sub1 }}</th><th>{{ group.sub2 }}</th><th>{{ group.sub3 }}</th><th>{{ group.sub4 }}</th><th>TOTAL</th><th>CUT OFF</th></tr>
                        </thead>
                        <tbody>{% for record in records %}{% if record.group==group.code %}
                            <tr><td>{{ record.rank }}</td><td>{{ record.class }}</td><td>{{ record.name }}</td><td>{{ record.lang_name | upper }}</td><td>{{ record.lang }}</td><td>{{ record.eng }}</td><td>{{ record.sub1 }}</td><td>{{ record.sub2 }}</td><td>{{ record.sub3 }}</td><td>{{ record.sub4 }}</td><td>{{ record.total }}</td><td>{{ record.cutoff }}</td></tr>{% endif %}{% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
        </div>{% endfor %}
    </div>
</body>
</html>