<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSLC Results</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='markpg.css') }}">
</head>
<body>
    {{ header_div | safe }}
    <div class="content">{% for i in range(0,length) %}
        <div id="cls">X - {{ cls[i] }}</div>
        <div class="grp_container">
            <div class="table-box">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr><th>RANK</th><th>CLASS</th><th>NAME</th><th>TAMIL</th><th>ENGLISH</th><th>MATHS</th><th>SCIENCE</th><th>SOCIAL</th><th>TOTAL</th></tr>
                        </thead>
                        <tbody>{% for j in range(len2) %}{% if records[j].class==cls[i] %}
                            <tr><td>{{ records[j].rank }}</td><td>{{ records[j].class }}</td><td>{{ records[j].name }}</td><td>{{ records[j].tamil }}</td><td>{{ records[j].english }}</td><td>{{ records[j].maths }}</td><td>{{ records[j].science }}</td><td>{{ records[j].social }}</td><td>{{ records[j].total }}</td></tr>{% endif %}{% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
        </div>{% endfor %}
    </div>
</body>
</html>